.App{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.App .inner-App .error{
    color: rgb(194, 49, 49);
    align-self: center;
    margin-bottom: 10px;
}

.App .inner-App{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.App .inner-App .words{
    align-self: center;
}

.box-conteiner{
    display: inline-block;
}

.box{
    transition: all .3s;
    padding: 10px 23px;
    margin: 5px;
    display: inline-block;
    color: #fff;
    border-radius: 15px;
    font-size: 30px;
}

.delete_box{
    position: relative;
    bottom: 0;
    background-color: blueviolet;
    text-align: center;
    vertical-align: middle;
    padding: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
}