.inputs{
    align-self: center;
}

.inputs form input{
    position: relative;
    transition: all .3s;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #888;
    padding: 15px 20px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    color: #000;
    border-radius: 15px;
    font-size: 18px;
}